{% extends 'base.html.twig' %}

{% block title %}CarService{% endblock %}
{% block style %}


{% endblock %}
{% block body %}

<html>
    <head>
           

   </head>
   <body>
       <div>Car Service</div>
 <table style="width:100%">
  <tr>
    <th>Id</th>
    <th>PlateNumber</th> 
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
    <th>Color</th>
    <th>Year</th>
    
     {% for key in Car %}
  <tr>
    <td>{{ key.id }}</td>
    <td>{{ key.plateNumber }}</td>
    <td>{{ key.brand }}</td>
    <td>{{ key.model }}</td>
    <td>{{ key.year }}</td>
    <td>{{ key.color }}</td>
    <td>{{ key.type }}</td>
    
  </tr>
  {% endfor %}
 </table>
   </body>
   
</html>


{% endblock %}
