{% extends 'base.html.twig' %}

{% block title %}CarService{% endblock %}
{% block style %}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 5px;
    
}

tr:nth-child(even){background-color: #f2f2f2;}

th {
    background-color: #af4c4c;
    color: white;
    
}
.button2:hover {
    box-shadow: 0 8px 13px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

a:link, a:visited {
   color:white;
   text-decoration: none;
}
.button {
    background-color: #af4c4c; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 1px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius:10px;
}
.div{
text-align:center;
font-size: 50px;
font-family:Verdana;
text-shadow: 2px 2px 5px red;
padding:5px;
margin-bottom:5px;
color:#7a3535;
}
{% endblock %}
{% block body %}

<html>
    <head>
           

   </head>
   <body>
       <div class="div">Car Service</div>
 <table style="width:100%">
  <tr>
    <th>Id</th>
    <th>PlateNumber</th> 
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
    <th>Color</th>
    <th>Year</th>
    <th>Services</th>
    
     {% for key in Car %}
  <tr>
    <td>{{ key.id }}</td>
    <td>{{ key.plateNumber }}</td>
    <td>{{ key.brand }}</td>
    <td>{{ key.model }}</td>
    <td>{{ key.year }}</td>
    <td>{{ key.color }}</td>
    <td>{{ key.type }}</td>
    <th class="button"> <button class="button button2"><a href="/car/service/?nr={{key.plateNumber}}">Check services</a></button></th>
  </tr>
  {% endfor %}
 </table>
 <button class="button button2"><a href="/car/add">Add Car</a></button>
   </body>
   
</html>


{% endblock %}
